*{
	  margin:0;
  padding:0;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.woff2') format('woff2'),
        url('Mulish-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Regular.woff2') format('woff2'),
        url('Mulish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html,
body {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}

.layout {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.box {


  display: flex;
  flex-direction: column;

}

.demowarning{
	height: 38px;
	background:#A6D2FF;
	color:#0073EA;
	line-height:38px;
	font-size:0.8em;
}


.header {
	background: #0073EA;
 
	
}

.header_wrapper{
	height: 116px;
}

.logo {
	width: 200px;
	float:left;
	margin-top:35px;
}


.menu {
	text-align:right;
	margin-top:40px;
}

ul {
	margin-top:20px;
	list-style:none;
}

.menu p {
	font-size:0.8em;
}

.menu li {
	display:inline-block;
}

.menu a {
	color:#fff;
	text-decoration:none;
}


.menu li a {
	display:block;
	font-size:1em;
	background-image: url('down.png');
	background-position: right;
	padding-right:30px;
	background-repeat: no-repeat;
}

.banner {
	background-image: url('banner.png');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	height: 350px;
	position:relative;
}

.banner_title{
	background:#E8F2FB;
	position:absolute;
	bottom:0px;
	width:820px;
	left: 50%;
    transform: translate(-50%, 0);
	padding:20px;
}

.banner_title h1{
	color:#212121;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 42px;
	line-height: 41px;
}

.content {
  background:#fff;
  flex: 1;
  color:#111;
  padding:20px;
  justify-content: left;
}

.bottomnav {
  background: #0073EA;
  height: 70px;
}

.bottomnav li{
	display:inline-block;
}

.bottomnav li a{
	display:block;
	font-size:0.8em;
	text-decoration:none;
	color:#FFFFFF;
	padding-right:20px;
}

.footer {
  background: #A6D2FF;
  height: 112px;
}

.wrapper_large {
	margin:0 auto;
	width:1024px;
	
}

.wrapper_small {
	margin:0 auto;
	width:820px;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

button.in-vault {

	margin: 0;
	font-size: .9em;
	display: inline-block;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #666;
	color: #666;
	background: #fff;

	text-align: center;


	cursor: pointer;

	text-decoration: none;
	width:120px;

	margin-bottom: 5px;
}

button.in-vault:hover {
	transition: all .2s ease-in-out;
	border-color: #111;
	color: #111;
	background: #fafafa;
}