<!DOCTYPE html>
<html>
<head>
    <title>{{#if title}}{{title}} -{{/if}} Schluss</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/ico" href="/favicon.ico">
	<link rel="stylesheet" href="/style.css">
	<script src="schluss-connect.js"  type="text/javascript"></script>
	<style>
		.schluss-qr-container:after {display:none;}
	</style>	
</head>
<body>

<div class="wrapper">
    <header>
		<div style="float:left;"><img src="/schluss-logo-white.svg" class="" alt="logo"/></div>
		<div style="float:right;"><h1>DIANA</h1></div>
		</header>
    <main>{{{body}}}</main>
    <footer>Demonstratiepagina voor het afhandelen van de gehele processflow voor het DIANA project.<br/>Broncode: <a href="https://gitlab.com/schluss/diana-webportal" target="_blank">https://gitlab.com/schluss/diana-webportal</a></footer>
</div>

</body>
</html>
