	<script type="text/javascript">

	document.addEventListener("DOMContentLoaded", async function(event) {
	
		const token = uuidv4();
	
		// create config
		let cfg = {
			canvas 		: 'qrContainer2',	// id of container element to display the QR code
			configUrl 	: '{{insurerUrl}}/config.json',	    // FULL url to your organisations config.json file
			token 		: token,		// token to identify this session later on
			redirectUrl : 'https://schluss.org/redirect/connect/[token]/[configurl]/[scope]', 
			scope		: 'getWishlist',
			size		: 200
		};
				
		// load qr code
		var w = window.SchlussConnect;
		await w.init(cfg);

		let interval = setInterval(async function(){ 

			let stateResponse = await request('{{insurerUrl}}/api/check', token);


			if (stateResponse.state === undefined)
				return;
			console.log('state:' + stateResponse.state);
			switch(stateResponse.state){
			
				case 'new' : 
					// do nothing in our case, but this state tells there is a 'new/empty' session	
					break;			
			
				case 'connecting' : 
					document.getElementById('waiting').style.display = 'block';	
					break;
				
				case 'done' : 
					
					document.getElementById('waiting').style.display = 'none';	
					document.getElementById('processing').style.display = 'block';	
					
					console.log('data is downloaded, now decrypt and get them. This might take a while');
					
					clearInterval(interval);
					
					//let contractResponse = await request('api/contract', token);
					
					document.getElementById('processing').style.display = 'none';	
					
					//console.log('Contract as object:');	
					//console.log(contractResponse);
					
					//document.getElementById('log').innerHTML = JSON.stringify(contractResponse, undefined, 2);
					
					document.getElementById('processed').style.display = 'block';

					break;
			};
			
		}, 2000);		
		
	});
	
	async function request(url, token)
	{
		return new Promise(function(resolve,reject){
		
	
			let req = new XMLHttpRequest();
			req.responseType = 'json';
			req.open('GET', url, true);
			
			if (token != null)
				req.setRequestHeader('Authorization', token);

			req.onload = function() {
				resolve(req.response);
			}
			
			req.send();		
		});
	} 	

	function uuidv4() {
	  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		let r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
		return v.toString(16);
	  });
	}		
	
	
	
	
	
	</script>

<style>
.statuspanel
{
	content: ' ';
	background: rgba(0,0,0,0.2);
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:800;
	display:none;
}

.statuspanel .content
{
    position: absolute;
    left: 50%;
    top:50%;
	transform: translate(-50%, -50%);
	
	background:#fff;
	
	width:400px;
	
	z-index:999;
	
	padding:20px;
	border-radius:5px;
	text-align:center;
	-webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.57);
	box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.57);
}
</style>

<div class="container wensenboekje">

<div class="banner large wensenboekje lazy-placeholder-image intropage" style="background-image: url('{{insurerUrl}}/beeld-wensenboekje.jpg');">
    <div class="shine">
            <div class="col-sm-10 col-md-8">
                <div class="banner-content wensenboekje">
                    <h1></h1>
                        <p></p>
                </div>
            </div>
    </div>
</div>

<div class="statuspanel" id="waiting">
	<div class="content">
		<h2>Volg de instructies op het scherm van je app</h2>
		<br/>
		<br/>
		<img src="{{insurerUrl}}/spinning.svg" />
	</div>
</div>

<div class="statuspanel" id="processing">
	<div class="content">
		<h2>Binnengekomen gegevens worden verwerkt</h2>
		<p>Dit kan even duren...</p>
		<br/>
		<br/>
		<img src="{{insurerUrl}}/gearing.svg" />
	</div>
</div>

<div class="statuspanel" id="processed">
	<div class="content">
		
		<img src="{{insurerUrl}}/checked.png" />
		<br/>
		<h2>Uitvaartwensen ontvangen</h2>
		<br/>
		
	</div>
</div>
	
<h1>Geef de uitvaartwensen door aan Diana</h1>
<p>Scan de QR code met je digitale kluis om je uitvaartwensen vanuit je kluis te delen met Diana.</p>

<div style="text-align:center">
<div id="qrContainer2"></div>
<br/>
<button class="in-vault">Open in kluis</button>

</div>

</div>