

        <div class="container wensenboekje">
            
<div class="banner large wensenboekje lazy-placeholder-image intropage" style="background-image: url('{{insurerUrl}}/beeld-wensenboekje.jpg');">
    <div class="shine">
            <div class="col-sm-10 col-md-8">
                <div class="banner-content wensenboekje">
                    <h1></h1>
                        <p></p>
                </div>
            </div>
    </div>
</div>
            <div class="col-sm-10 col-md-8">

    <div class="box-content paragraph wide ">
        <h1 style="color: #056e82;">Leg je uitvaartwensen vast</h1>
Nadenken over je uitvaart is niet makkelijk. Dat je het onderwerp liever uit de weg gaat, is heel begrijpelijk. Toch is het goed om eens bij <a href="{{insurerUrl}}/wensenlijst-ophalen">je&nbsp;wensen</a> stil te staan en deze in kaart te brengen. Ook als je geen uitgesproken mening over bijvoorbeeld de koffietafel of de dienst hebt, is het goed om dat vast te leggen. Zo weten je nabestaanden wat je wel en niet belangrijk vindt.
<p>
</p>
<ul>
    <li>Iedereen kan bij ons uitvaartwensen vastleggen, ook als je niet verzekerd bent bij coöperatie DIANA.</li>
    <li>Nadat je je wensen hebt ingevuld, kun je ze eenvoudig opslaan in een PDF, je eigen Mijn DIANA account of een digitale kluis.</li>
    <li>Hierna kun je je wensen op ieder moment bekijken en aanpassen.</li>
</ul>
<p><a href="{{insurerUrl}}/wensenlijst-ophalen"></a></p>
<div class="button prime"><a href="{{insurerUrl}}/wensenlijst-ophalen">Leg je wensen vast</a></div> <div class="button prime"><a href="javascript:void(0);" id="mpopupLink1">Bekijk of wijzig eerder vastgelegde wensen</a></div>
<p>&nbsp;</p>
<h4><span style="color: #056e82;">Wil je voor meerdere personen uitvaartwensen vastleggen?</span></h4>
<p>Dat kan. Het is alleen niet mogelijk om de uitvaartwensen van meerdere personen vast te leggen in één ‘Mijn DIANA’ account. Heb je je uitvaartwensen al opgeslagen in Mijn DIANA, dan kunnen je dierbaren of medeverzekerde(n) een persoonlijk ‘Mijn DIANA’ account aanmaken waarin zij hun uitvaartwensen makkelijk vastleggen. Als je een nieuw account aanmaakt, moet je wel een <strong>ander e-mailadres</strong> gebruiken.</p>
<h4 style="color: #056e82;">Goed om te weten</h4>
<p>Een ingevulde wensenlijst is een hulpmiddel voor je uitvaart. Het is geen wettelijk document zoals een codicil of testament. Het kan zijn dat je nabestaanden een andere uitvaart regelen dan jij hebt vastgelegd in ‘Mijn uitvaartwensen’. Wij kunnen hier niets aan doen en zijn hiervoor niet aansprakelijk.</p>
<p>DIANA gaat zorgvuldig met je persoonsgegevens om. Informatie over het gebruik van je persoonsgegevens lees je in  <a href="#">het privacy statement</a></p>
    </div>
	
	
          </div>
        </div>  	