        <div class="container wensenboekje">
            
<div class="banner large wensenboekje lazy-placeholder-image intropage" style="background-image: url('{{insurerUrl}}/beeld-wensenboekje.jpg');">
    <div class="shine">
            <h1>Overzicht van uw uitvaartwensen</h1>
    </div>
</div>
            <div class="col-sm-10 col-md-8">
			
			
			
<form action="javascript:void(0);" class="scroll-to-when-invalid prevent-double-submission prevent-double-submission WishList" data-bind="" id="wishlist" method="post">    <span class="headerTitle">TestWensen</span>
<input name="__RequestVerificationToken" type="hidden" value="cuhqfK7i5YW9clIE4D5Wz5K6DSNzgBMH8oxBo09jfdvfsADloP4gXoZUacv1hFFy8-NYRtYJ3QM-UhzXM7jNq8lLGIo1">

<section class="wl-save">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-content wide">
                    <div class="ws-button-text">
                        <h2>Opslaan</h2>
<p>Nadat u uw wensen heeft ingevuld, slaat u ze op in een Mijn 
DIANA-account.&nbsp;Hierna kunt u uw wensen op ieder moment inzien en 
aanpassen. Of u maakt een pdf&nbsp;die u kunt&nbsp;bewaren op uw 
computer. U kunt uw wensen ook opslaan in een digitale kluis.<br/> <br/> </p>                        
                    </div>
                    <div class="ws-button-container">
                        <a class="button big" style="margin-right: 15px;" href="javascript:void(0);" id="mpopupLink1">Opslaan in digitale kluis</a>
                        <a class="button big" href="#Download/WishList/DownloadWishListPdf?sessionTimeoutUrl=%2Fwensenboek%2Finleiding">PDF maken</a>


<div class="submit-button">
    <input type="submit" value="Opslaan in Mijn DIANA" class="big prime" name="submitbutton">
        <div class="submit-indicator"></div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section>
        <div class="box">
            <div class="box-content wide">
                <div class="wb-list">
                    <div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-urn-begraven"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Begraven of cremeren?</h2>
                <ul class="wishlist-sum">



    <li class="icon-check">Mijn nabestaanden mogen kiezen.</li>












                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-uitvaartcentrum"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Afscheid</h2>
                <ul class="wishlist-sum">



    <li class="icon-check">Ik wil dat mijn afscheidsdienst wordt gehouden in een uitvaartcentrum of crematorium.<br></li>



    <li class="icon-check">Na het afscheid wil ik een bittergarnituur.<br></li>
                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-opbaren"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Opbaring</h2>
                <ul class="wishlist-sum">



    <li class="icon-check">Ik wil opgebaard worden op een persoonlijke plek.</li>
    <li class="icon-check">Mijn aanvullende wensen: <strong>Niet opbaren</strong>.</li>
                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="#wensenboek/kist">
        <div class="wb-icon">
            <span class="icon-kist-luxe"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Uitvaartkist</h2>
                <ul class="wishlist-sum">



    <li class="icon-check">Ik wil iets speciaals en heb hiervan een notitie gemaakt.</li>



    <li class="icon-check">Mijn aanvullende wensen: <strong>Duurzaam, het liefst zo simpel mogelijk</strong>.</li>
                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-auto"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Vervoer</h2>
                <ul class="wishlist-sum">






    <li class="icon-check">Ik wil graag vervoerd worden in een traditionele uitvaartauto.</li>
                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-boeket-groot"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Bloemen</h2>
                <ul class="wishlist-sum">





        <li class="icon-check">Ik vind losse bloemen mooi.</li>










                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-muziek"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Muziek</h2>
                <ul class="wishlist-sum">



    <li class="icon-check">Ik weet nog niet wat voor muziek ik wil.</li>
                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-rouwkaarten"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Drukwerk</h2>
                <ul class="wishlist-sum">



    <li class="icon-check">Ik wil geen advertentie.</li>



    <li class="icon-check">Ik wil graag rouwkaarten.</li>



    <li class="icon-check">Ik wil geen prentjes of bedankbrieven.</li>
                </ul>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-gebruikers"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Contactpersonen</h2>
                <p>U heeft nog geen contactpersonen opgegeven</p>
        </div>
    </a>
</div><div class="wb-item">
    <a href="">
        <div class="wb-icon">
            <span class="icon-onbekend"></span>
        </div>
        <div class="wb-content">
            <div class="edit">
                <span class="icon-edit"></span>
            </div>
            <h2>Naam van uw uitvaartwensen</h2>
                <ul class="wishlist-sum">
    <li class="icon-check">TestWensen</li>
                </ul>
        </div>
    </a>
</div>
                </div>
            </div>
        </div>
    </section>
</div>


<section class="wl-save">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-content wide">
                    <div class="ws-button-text">
                        <h2>Opslaan</h2>
<p>Nadat u uw wensen heeft ingevuld, slaat u ze op in een Mijn 
DIANA-account.&nbsp;Hierna kunt u uw wensen op ieder moment inzien en 
aanpassen. Of u maakt een pdf&nbsp;die u kunt&nbsp;bewaren op uw 
computer. U kunt uw wensen ook opslaan in een digitale kluis.</p>                       
                    </div>
                    <div class="ws-button-container">
                        <a class="button big" style="margin-right: 15px;" href="javascript:void(0);" id="mpopupLink2">Opslaan in digitale kluis</a>
                        <a class="button big" href="#Download/WishList/DownloadWishListPdf?sessionTimeoutUrl=%2Fwensenboek%2Finleiding">PDF maken</a>


<div class="submit-button">
    <input type="submit" value="Opslaan in Mijn DIANA" class="big prime" name="submitbutton">
        <div class="submit-indicator"></div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>			
			
			
			
			
         </div>
        </div> 