<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", async function(event) {
		// create config
		let keesCfg = {
			canvas 		: 'qrIdKees',	// id of container element to display the QR code
			configUrl 	: '{{baseurl}}/config.json',	    // FULL url to your organisations config.json file
			token 		: 'idKees',		// token to identify this session later on
			redirectUrl : 'https://schluss.org/redirect/connect/[token]/[configurl]/[scope]', 
			scope		: 'mijnoverheidFakeKees',
			size		: 200
		};
		
		let marianCfg = {
			canvas 		: 'qrIdMarian',	// id of container element to display the QR code
			configUrl 	: '{{baseurl}}/config.json',	    // FULL url to your organisations config.json file
			token 		: 'idMarian',		// token to identify this session later on
			redirectUrl : 'https://schluss.org/redirect/connect/[token]/[configurl]/[scope]', 
			scope		: 'mijnoverheidFakeMarian',
			size		: 200
		};	
	
		let bankAccountsCfg = {
			canvas 		: 'qrIdBankAccounts',	// id of container element to display the QR code
			configUrl 	: '{{baseurl}}/config.json',	    // FULL url to your organisations config.json file
			token 		: 'fakeBankAcc',		// token to identify this session later on
			redirectUrl : 'https://schluss.org/redirect/connect/[token]/[configurl]/[scope]', 
			scope		: 'bankAccountsFake',
			size		: 200
		};	
	
		let avoCfg = {
			canvas 		: 'qrIdAvo',	// id of container element to display the QR code
			configUrl 	: '{{baseurl}}/config.json',	    // FULL url to your organisations config.json file
			token 		: 'getAvo',		// token to identify this session later on
			redirectUrl : 'https://schluss.org/redirect/connect/[token]/[configurl]/[scope]', 
			scope		: 'AkteVanOverlijden',
			size		: 200
		};		
		
		// load qr code
		let w = window.SchlussConnect;
		await w.init(keesCfg);
		await w.init(marianCfg);
		await w.init(bankAccountsCfg);
		await w.init(avoCfg);
		
	
		// modals
		makeModal('marianIdModal', 'marianIdBtn');
		makeModal('keesIdModal', 'keesIdBtn');
		makeModal('bankAccountsModal', 'bankAccountsBtn');
		makeModal('avoModal', 'avoBtn');
		makeModal('browserFrame', 'getWishlistBtn', '{{insurerUrl}}/wensenlijst');
		makeModal('browserFrame', 'getTestimonyBtn', '{{notaryUrl}}/testament');
		makeModal('browserFrame', 'shareWishlistBtn', '{{insurerUrl}}/doorgeven');
		makeModal('browserFrame', 'requestVvEbtn', '{{notaryUrl}}/aanvraag');
		makeModal('browserFrame', 'vvEBtn', '{{notaryUrl}}/verklaringvanerfrecht');
		makeModal('browserFrame', 'bankBtn', '{{bankUrl}}/');
	
		// auto check links
		let links = document.getElementsByClassName('checklink');
		
		for (let i = 0; i < links.length; i++){
			links[i].addEventListener('click', function(){
				links[i].classList.add('checked');
			});			
		}
		
	});
	
	function makeModal(modalId, btnId, url){
	
		// Get the modal
		var modal = document.getElementById(modalId);
	
		// Get the button that opens the modal
		var btn = document.getElementById(btnId);
	
		// Get the <span> element that closes the modal
		var span = modal.getElementsByClassName('closeBtn')[0];
	
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		  
		  if (url){
			document.getElementById('browserTitle').innerText = url;
			document.getElementById('browserUrl').src = url;
		  }
		}
	
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		  
		  if (url){
			document.getElementById('browserUrl').src = '#';
		  }		  
		}
	
		modal.onclick = function(e){
			if (e.target == modal){
				modal.style.display='none';
				
			  if (url){
				document.getElementById('browserUrl').src = '#';
			  }	
			}
		}
	
	}	
	
	
	
	
	
</script>
<script></script>	
<div id="marianIdModal" class="modal">
	<div class="modal-content">
		<div class="close closeBtn">&times;</div>
		<p>Scan de QR code om de identiteit van Marian in je kluis te plaatsen.</p>
		<p>
		<div id="qrIdMarian"></div>
		<br/>
		<button class="in-vault">Open in kluis</button>
		</p>
	</div>
</div>
<div id="keesIdModal" class="modal">
	<div class="modal-content">
		<div class="close closeBtn">&times;</div>
		<p>Scan de QR code om de identiteit van Kees in je kluis te plaatsen.</p>
		<p>
		<div id="qrIdKees"></div>
		<br/>
		<button class="in-vault">Open in kluis</button>
		</p>
	</div>
</div>
<div id="bankAccountsModal" class="modal">
	<div class="modal-content">
		<div class="close closeBtn">&times;</div>
		<p>Scan de QR code om bij de Belastingdienst je bankrekeningen op te halen.</p>
		<p>
		<div id="qrIdBankAccounts"></div>
		<br/>
		<button class="in-vault">Open in kluis</button>
		</p>
	</div>
</div>
<div id="avoModal" class="modal">
	<div class="modal-content">
		<div class="close closeBtn">&times;</div>
		<p>Scan de QR code om bij de Gemeente de Akte van Overlijden op te halen.</p>
		<p>
		<div id="qrIdAvo"></div>
		<br/>
		<button class="in-vault">Open in kluis</button>
		</p>
	</div>
</div>
<div class="modal" id="browserFrame">
	<div class="browser-frame">
		<div class="browser-controls">
			<div class="window-controls">
				<span class="closeBtn"></span>
			</div>
			<div class="page-controls">
				<span class="back white-container"></span>
				<span class="next white-container"></span>
			</div>
			<span class="url-bar white-container" id="browserTitle"></span>
			<span class="full-screen white-container"></span>
		</div>
		<iframe src="#" id="browserUrl"></iframe>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-2 center">
			<h2>Marian</h2>
		</div>
		<div class="col-2 center">
			<h2>Kees</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-4 center">
			<div class="label">1</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1">
			<p><b>Identiteit van Marian</b><br/>
				<span class="small">via MijnOverheid</span>
			</p>
		</div>
		<div class="col-1 center"><button id="marianIdBtn" class="checklink">Ophalen</button></div>
		<div class="col-1 padleft">
			<p><b>Identiteit van Kees</b><br/>
				<span class="small">via MijnOverheid</span>
			</p>
		</div>
		<div class="col-1 center"><button id="keesIdBtn" class="checklink">Ophalen</button></div>
	</div>
	<div class="row">
		<div class="col-4 center">
			<div class="label">2</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1">
			<p><b>Uitvaartwensen</b><br/>
				<span class="small">via uitvaartverzekeraar</span>
			</p>
		</div>
		<div class="col-1 center"><button id="getWishlistBtn" class="checklink">Ophalen</button></div>
	</div>
	<div class="row">
		<div class="col-1">
			<p><b>Gegevens testament</b><br/>
				<span class="small">via notaris</span>
			</p>
		</div>
		<div class="col-1 center"><button id="getTestimonyBtn" class="checklink">Ophalen</button></div>
	</div>
	<div class="row">
		<div class="col-1">
			<p><b>Bankrekeningen</b><br/>
				<span class="small">via Belastingdienst</span>
			</p>
		</div>
		<div class="col-1 center"><button id="bankAccountsBtn" class="checklink">Ophalen</button></div>
	</div>
	<div class="row">
		<div class="col-4 center">
			<div class="label">3</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<p><b>Marian maakt een connectie met Kees en wijst hem aan als nabestaande.</b></p>
		</div>
		<div class="col-2 padleft">
			<p><b>Kees vraagt en krijgt toegang tot de kluis van Marian.</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-4 center">
			<div class="label">4</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-1 padleft">
			<p><b>Akte van Overlijden</b><br/>
				<span class="small">via MijnOverheid</span>
			</p>
		</div>
		<div class="col-1 center">
			<button id="avoBtn" class="checklink">Ophalen</button>
		</div>
	</div>
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-1 padleft">
			<p><b>Uitvaartwensen</b><br/>
				<span class="small">aan uitvaartverzekeraar</span>
			</p>
		</div>
		<div class="col-1 center">
			<button id="shareWishlistBtn" class="checklink">Doorgeven</button>
		</div>
	</div>
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-1 padleft">
			<p><b>Verklaring van Erfrecht</b><br/>
				<span class="small">via notaris</span>
			</p>
		</div>
		<div class="col-1 center">
			<button id="requestVvEbtn" class="checklink">Aanvragen</button>
			<br/>
			<button id="vvEBtn" class="checklink">Ophalen</button>	
		</div>
	</div>
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-1 padleft">
			<p><b>Bankrekening vrijgeven</b><br/>
				<span class="small">via bank</span>
			</p>
		</div>
		<div class="col-1 center">
			<button id="bankBtn" class="checklink">Doorgeven</button>				
		</div>
	</div>
	<div class="row">
		<div class="col-4">&nbsp;</div>
	</div>
</div>